extends ../layout

block content
  h1= project.name
  i= project.description
  p Request: #{project.requestDate}
  p Start: #{project.startDate}
  p Product Owner: #{project.productOwner.getFullName()}
  p Scrum Master: #{project.scrumMaster.getFullName()}
  b Team
  table
    tbody
      each member in project.team
        tr
          td
            a(href=`/users/${member.id}`)= member.getFullName()
